@import '../../index.scss';

.container {
  width: 270px;
  font-family: 'ExpertSans-Light';

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .content {
    text-align: center;
    padding: 15px 24px 24px 24px;

    & > button {
      margin-top: 24px;
    }
  }

  .cover {
    height: 125px;
    position: relative;
    margin-bottom: 16px;
  }

  .badge {
    top: 80px;
    left: 50%;
    width: 60px;
    height: 60px;
    padding: 12px;
    margin-left: -30px;
    border-radius: 8px;
    background: $white;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid $medium-grey;
  }

  @media (min-width: $breakpoint) {
    width: 328px;

    .cover {
      height: 152px;
      margin-bottom: 20px;
    }

    .badge {
      top: 100px;
      width: 72px;
      height: 72px;
    }
  }
}
